[submodule "packages/maplibre-gl"]
	path = packages/maplibre-gl
	url = https://github.com/davenquinn/maplibre-gl-js.git
[submodule "packages/cesium-martini"]
	path = example/deps/cesium-martini
	url = https://github.com/davenquinn/cesium-martini.git
