html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

.example-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}

.map-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: -4px;
}

.map-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.map-sizer {
  flex-grow: 1;
  position: relative;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.cesium-panel {
  position: relative;
}

.cesium-widget canvas {
  cursor: hand;
}

div.caption {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
  text-align: left;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em 2em;
}

h1 {
  margin: 0;
  font-size: 1.2em;
}

header > * {
  margin-right: 1em;
}

header p {
  margin: 0.2em 0 0.3em;
  font-style: italic;
}

.spacer {
  flex-grow: 1;
}

ul.controls {
  list-style: none;
  padding-left: 0px;
}

.controls li a {
  display: block;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 2px;
  text-decoration: none;
  background-color: #eee;
}

.controls li a.active {
  background-color: #a3d0fd;
}

/* These styles make up for deficiencies in cesium-viewer */
.mapbox-logo {
  display: block !important;
  margin-left: 8px;
}